.control {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999;
}

.control:hover {
  background-color: #777;
}

#bottom-controls {
  position: fixed;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#date-container {
  position: fixed;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}